*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.layout-1{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 700px;
    width: 850px;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    padding: 8px;
    gap: 5px;
    background-color: #343945;
}

.item{
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 700;
    background-image: linear-gradient(to top left, rgba(255, 255, 255, 0.628), blue);
    border: 3px solid black;
}

.header, .footer{
    grid-column: 1/4;
}

.sidebar{
    grid-row: 2/4;
}

.content1{
    grid-column: 2/4;
}



