@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
    font-family: "Poppins", sans-serif;
    font-size: 10px;
}

.hero-section{
    min-height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container{
    width: 100%;
    padding: 15px 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}

.hero-text{
    padding: 15px 25px;
    width: 100%;
    word-spacing: 1px;
    letter-spacing: 0.8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
}

h1{
    position: relative;
    font-size: 3.2rem;
}

p{
    font-weight: 350;
    font-size: 1.6rem;
}

.hero-img{
    width: 100%;
    place-items: center;
    padding: 5px 25px;
}

img{
    width: 90%;
    display: block;
    height: auto;
}

.hero-text a{
    font-size: 2rem;
    background-color: transparent;
    width: 200px;
    border-radius: 8px;
    border: 2px solid white;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 700;
    color: green;
}

.hero-text h1::before{
    content: "Hello Everyone";
    position: absolute;
    font-size: 2rem;
    top: -18px;
    color: green;
    letter-spacing: 0.8px;
}

.hero-text a:hover{
    color: black;
    background-color: white;
    width: 250px;
}

img:hover{
    scale: 1.1;
}

/* Transition Property */
.hero-text a{
    transition-property: width, background-color, color;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.1s;
    transition: all 0.5s ease-in-out 0.1s;
}

img{
    transition: scale 0.3s linear 0.1s;
}