*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

.hero-section{
    height: 100vh;
    width: 100%;
}

.container{
    min-height: 100vh;
    padding: 25px 35px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 2.6rem;
    color: brown;
}

p{
    font-size: 1.5rem;
}

/* Mobile first approach */
@media screen and (width > 400px) {
    .container{
        background-color: rgb(197, 60, 60);
    }

    h1{
        font-size: 2.8rem;
    }

    p{
        font-size: 1.7rem;
    }
}

@media screen and (width >= 750px){
    .container{
        background-color: rgb(201, 190, 77);
    }

    h1{
        font-size: 3rem;
    }

    p{
        font-size: 2rem;
    }
}

@media screen and (width >= 1045px){
    .container{
        background-color: rgb(83, 126, 202);
    }

    h1{
        font-size: 3.5rem;
        color: cornsilk;
    }

    p{
        font-size: 2.2rem;
    }
}

/* Desktop first approach */
@media screen and (width <= 1045px) {
    .container{
        background-color: rgb(201, 190, 77);
    }

    h1{
        font-size: 3rem;
    }

    p{
        font-size: 2rem;
    }
}

@media screen and (width <= 750px) {
    .container{
        background-color: rgb(197, 60, 60);
    }

    h1{
        font-size: 2.8rem;
    }

    p{
        font-size: 1.7rem;
    }
}

@media screen and (width <= 450px){
    .container{
        background-color: gray;
    }

    h1{
        font-size: 2.6rem;
    }

    p{
        font-size: 1.5rem;
    }
}