*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.hero{
    height: 100vh;
    width: 100%;
}

.container{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to top right, #5E7AC4, #C08552);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    gap: 10px;
}

.box{
    font-size: 50px;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.box1{
    background-color: rgb(67, 120, 148);
}

.box2{
    background-color: rgb(209, 68, 68);
}

/* mobile responsive */
@media screen and (max-width: 650px){
    .container{
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
    }

    .box{
        font-size: 35px;
        color: black;
    }
}