body{
    background-image: url("https://templatemo.com/templates/templatemo_612_parallax_starter/images/parallax-bg-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}