*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.chess-layout{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.chess-container{
    height: 640px;
    width: 640px;
    background-color: blue;
    display: grid;
    grid-template-rows: repeat(8, minmax(80px, 1fr));
    grid-template-columns: repeat(8, minmax(80px, 1fr));
}

.color-1{
    background-color: #EFD8B4;
}

.color-2{
    background-color: #B48762;
}