@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
    color: white;
    font-size: 10px;
    font-family: "Poppins", sans-serif;
    background-color: #FFFFFF;
}

/* Header Section */
header{
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

header .navbar{
    width: 100%;
    padding: 12px 5%;
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    gap: 18px;
}

header .navbar .logo img{
    width: 65%;
    height: auto;
    object-fit: cover;
}

.navbar .nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

.nav-links li a{
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 550;
    color: #000000DE;
    transition: .5s;
}

.nav-links li a:hover{
    color: red;
}

.navbar .btn-container{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 640px;
    gap: 15px;
}

.navbar .btn-container .location a{
    font-size: 2.2rem;
    color: rgb(8, 8, 8);
    text-decoration: none;
    transition: .5s;
    font-weight: 600;
}

.navbar .btn-container .location a:hover{
    color: red;
}

.navbar .btn-container .location span{
    font-size: 1.6rem;
    text-align: center;
    margin-right: 15px;
}

.navbar .btn-container .sign-in, .join-now{
    text-decoration: none;
    padding: 7px 20px;
    border-radius: 45px;
    border: 1px solid black;
    font-size: 1.4rem;
    font-weight: 600;
    color: black;
    transition: .5s;
}

.navbar .btn-container .sign-in:hover{
    background-color: rgb(91, 108, 125);
    color: #FFFFFF;
}

.navbar .btn-container .join-now{
    color: #FFFFFF;
    background-color: black;
}

/* Hero section */
.hero-section{
    min-height: 87.2vh;
    width: 100%;
    padding: 15px 5%;
}

.hero-section .hero-container{
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    gap: 15px;
}

.hero-container .hero-text{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 22px;
}

.hero-container .hero-text h1{
    font-size: 5.8rem;
    font-weight: 650;
    color: black;
    animation: movingH1 8s steps(14) infinite;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid red;
}

@keyframes movingH1 {
    0%{
        width: 0ch;
    }
    50%{
        width: 14ch;
    }
    100%{
        width: 0ch;
    }
}

.hero-container .hero-text h2{
    margin-top: -18px;
    font-size: 5.2rem;
    font-weight: 600;
    color: black;
    letter-spacing: 0.8px;
}

.hero-container .hero-text h2 span{
    font-size: 6.2rem;
    font-weight: 800;
    color: rgb(7, 84, 7);
    letter-spacing: 0.8px;
}


.hero-container .hero-text p{
    font-size: 1.8rem;
    font-weight: 500;
    color: black;
    letter-spacing: 0.6px;
}

.hero-container .hero-text .text-btncontainer{
    margin-top: 32px;
}
.hero-container .hero-text .text-btncontainer a{
    padding: 12px 32px;
    border-radius: 45px;
    border: 1px solid black;
    font-size: 1.6rem;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    background-color: #32462F;
    color: #FFFFFF;
}

.hero-container .hero-img{
    height: 100%;
    width: 100%;
}

.hero-container .hero-img figure{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container .hero-img figure img{
    height: auto;
    width: 65%;
    object-fit: cover;
    transition: .5s;
}

.hero-container .hero-img figure img:hover{
    scale: 0.9;
}