*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    display: grid;
    gap: 20px;
    place-items: center;
}

h1{
    font-size: 4rem;
    text-align: center;
    color: rgb(21, 21, 74);
}

/* To apply gap between divs */
.box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-1{
    height: 300px;
    width: 600px;
    background-image: linear-gradient(to top, red, yellow);
}

.container-2{
    height: 300px;
    width: 600px;
    background-image: linear-gradient(to top right, blue, yellow);
}

.container-3{
    height: 300px;
    width: 600px;
    background-image: linear-gradient(to bottom left, green, orange);
}

/* Visibility hidden */
.container-2{
    visibility: hidden;
}

/* Display none */
.container-1{
    display: none;
}