*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-color: beige;
}

.main-container{
    margin: 0 auto;
    padding: 50px 5px;
    height: 50%;
    width: 800px;
}

/* Column count */
p{
    font-weight: 545;
    color: rgb(31, 35, 35);
    column-count: 3;
    text-align: justify;
}

/* Column rule */
p{
    column-rule: 2px solid red;
}

/* Column gap */
p{
    column-gap: 50px;
}