*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar{
    width: 100%;
    height: 50px;
    background-color: #1f1f1f;
    color: #f9f5f5;
    text-align: center;
    position: fixed;
    top: 0;
}

.section-1, .section-2, .section-3, .section-4{
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
}

.section-1{
    background-image: linear-gradient(to top left, white, rgb(18, 45, 66));
}

.section-2{
    background-image: linear-gradient(to top left, rgb(136, 10, 10), rgb(18, 45, 66));
}

.section-3{
    background-image: linear-gradient(to top left, rgb(125, 75, 75), rgb(18, 45, 66));
}

.section-4{
    background-image: linear-gradient(to top left, rgb(104, 173, 101), rgb(81, 91, 99));
}