body{
    background-color: rgb(218, 236, 236);
}

/* Font size */

h1{
    font-size: 2rem;
    color: brown;
}

/* Font weight */

p{
    font-weight: 550;
}

/* Font family */

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Font family import */

h2{
    font-family: "Roboto Slab", serif;
    font-weight: 600;
}

/* Font style */

p{
    font-style: oblique;
}