*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    background-color: rgb(240, 230, 230);
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}

/* Box shadow */

.shadow{
    box-shadow: 2px 0px 0px 2px red;
}

.shadow{
    height: 250px;
    width: 250px;
    background-color: aquamarine;
    border-radius: 5px;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}