@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
    font-size: 10px;
}

body{
    font-family: "Poppins", sans-serif;
}

/* Header section */
header{
    background-color: #2F1793;
    height: 9.5rem;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar-container{
    padding: 12px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1{
    padding: 10px 20px;
    color: white;
    font-weight: 700;
    font-size: 3rem;
}

.nav-links{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 27px;
}

.nav-links a{
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
    font-weight: 450;
}

.nav-btns{
    height: 60px;
    width: 280px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#btn-1, #btn-2{
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    border-radius: 30px;
    font-weight: 550;
    color: white;
}

#btn-1{
    background-color: transparent;
    border-style: none;
    border: 2px solid white;
}

#btn-2{
    background-color: #27DBC5;
    border: 2px solid black;
}

/* Hero section */
.hero{
    min-height: calc(100vh - 95px);
    padding: 80px 20px;
    background-color: brown;
}

.contact{
    padding: 80px 20px;
    background-color: chocolate;
    height: 100vh;
    width: 100%;
}